<<<<<<< HEAD
.home-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
=======
>>>>>>> 5b24877c77e2477cc4cb7aa901dfb056348a7030
